In [1]:
import pandas as pd
import numpy as np

In [2]:
sanfran = pd.read_csv("sanfrancisco_incidents_summer_2014.csv")

In [3]:
sanfran.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,140734311,ARSON,ARSON OF A VEHICLE,Sunday,08/31/2014,23:50,BAYVIEW,NONE,LOOMIS ST / INDUSTRIAL ST,-122.405647,37.738322,"(37.7383221869053, -122.405646994567)",14073431126031
1,140736317,NON-CRIMINAL,LOST PROPERTY,Sunday,08/31/2014,23:45,MISSION,NONE,400 Block of CASTRO ST,-122.435012,37.761768,"(37.7617677182954, -122.435012093789)",14073631771000
2,146177923,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Sunday,08/31/2014,23:30,SOUTHERN,NONE,1000 Block of MISSION ST,-122.409795,37.780036,"(37.7800356268394, -122.409795194505)",14617792306244
3,146177531,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Sunday,08/31/2014,23:30,RICHMOND,NONE,FULTON ST / 26TH AV,-122.485263,37.772518,"(37.7725176473142, -122.485262988324)",14617753106244
4,140734220,NON-CRIMINAL,FOUND PROPERTY,Sunday,08/31/2014,23:23,RICHMOND,NONE,800 Block of LA PLAYA ST,-122.509895,37.772313,"(37.7723131976814, -122.509895418239)",14073422072000

In [5]:
seattle = pd.read_csv("seattle_incidents_summer_2014.csv")

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
seattle.head()

,RMS CDW ID,General Offense Number,Offense Code,Offense Code Extension,Offense Type,Summary Offense Code,Summarized Offense Description,Date Reported,Occurred Date or Date Range Start,Occurred Date Range End,Hundred Block Location,District/Sector,Zone/Beat,Census Tract 2000,Longitude,Latitude,Location,Month,Year
0,483839,2015218538,2202,0,BURGLARY-FORCE-RES,2200,BURGLARY,06/28/2015 10:31:00 AM,06/28/2014 10:31:00 AM,06/28/2015 10:31:00 AM,6XX BLOCK OF NW 74 ST,J,J2,2900.3013,-122.364672,47.682524,"(47.68252427, -122.364671996)",6,2014
1,481252,2015213067,2610,0,FRAUD-IDENTITY THEFT,2600,FRAUD,06/24/2015 11:09:00 AM,06/01/2014 12:00:00 AM,06/24/2015 11:09:00 AM,23XX BLOCK OF 43 AV E,C,C2,6300.1004,-122.277080,47.639901,"(47.639900761, -122.277080248)",6,2014
2,481375,2015210301,2316,0,THEFT-MAIL,2300,MAIL THEFT,06/22/2015 09:22:00 AM,08/31/2014 09:00:00 AM,NaN,81XX BLOCK OF 11 AV SW,F,F3,11300.5013,-122.349312,47.529232,"(47.529232299, -122.349312181)",8,2014
3,481690,2015209327,2599,0,COUNTERFEIT,2500,COUNTERFEIT,06/21/2015 03:52:00 PM,06/20/2014 01:38:00 PM,NaN,6XX BLOCK OF PINE ST,M,M2,8200.1002,-122.334818,47.612368,"(47.612368448, -122.334817763)",6,2014
4,478198,2015207880,2399,3,THEFT-OTH,2300,OTHER PROPERTY,06/20/2015 11:59:00 AM,06/01/2014 11:59:00 AM,11/01/2014 12:00:00 PM,77XX BLOCK OF SUNNYSIDE AV N,J,J3,2700.2015,-122.329379,47.685960,"(47.685959879, -122.329378505)",6,2014

In [9]:
sanfran.shape

(28993, 13)

In [10]:
seattle.shape

(32779, 19)

In [12]:
sanfran.describe(include = "all")

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
count,2.899300e+04,28993,28993,28993,28993,28993,28993,28993,28993,28993.000000,28993.000000,28993,2.899300e+04
unique,NaN,34,368,7,92,1379,10,16,8055,NaN,NaN,8732,NaN
top,NaN,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Friday,08/09/2014,12:00,SOUTHERN,NONE,800 Block of BRYANT ST,NaN,NaN,"(37.775420706711, -122.403404791479)",NaN
freq,NaN,9466,3766,4451,410,784,5739,19139,948,NaN,NaN,940,NaN
mean,1.420173e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.421961,37.768911,NaN,1.420173e+13
std,1.853367e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025313,0.023604,NaN,1.853367e+12
min,1.028438e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.513642,37.708083,NaN,1.028439e+12
25%,1.405456e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.432224,37.756486,NaN,1.405456e+13
50%,1.406320e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.415633,37.775421,NaN,1.406320e+13
75%,1.407197e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.406521,37.785094,NaN,1.407197e+13
max,9.903674e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.365565,37.817315,NaN,9.903674e+13

In [13]:
seattle.describe(include = "all")

,RMS CDW ID,General Offense Number,Offense Code,Offense Code Extension,Offense Type,Summary Offense Code,Summarized Offense Description,Date Reported,Occurred Date or Date Range Start,Occurred Date Range End,Hundred Block Location,District/Sector,Zone/Beat,Census Tract 2000,Longitude,Latitude,Location,Month,Year
count,3.277900e+04,3.277900e+04,32779,32779.000000,32779,32779,32779,32779,32779,16499,32779,32722,32723,32645.000000,32779.000000,32779.000000,32779,32779.000000,32779.0
unique,NaN,NaN,92,NaN,147,26,48,15766,11557,5934,7924,18,52,NaN,NaN,NaN,12970,NaN,NaN
top,NaN,NaN,2305,NaN,THEFT-CARPROWL,2300,CAR PROWL,08/04/2014 07:00:00 PM,07/01/2014 12:00:00 AM,07/07/2014 07:00:00 AM,4XX BLOCK OF NE NORTHGATE WY,M,E2,NaN,NaN,NaN,"(0.0, 0.0)",NaN,NaN
freq,NaN,NaN,6230,NaN,6230,12161,6230,11,46,21,194,2642,1089,NaN,NaN,NaN,2050,NaN,NaN
mean,5.786503e+05,2.019999e+09,NaN,4.199793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6737.664956,-114.680394,44.646274,NaN,6.980933,2014.0
std,4.876735e+05,1.111669e+09,NaN,12.028941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3300.797625,29.620933,11.531858,NaN,0.812021,0.0
min,1.247000e+04,2.015135e+07,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.100100,-122.425315,0.000000,NaN,6.000000,2014.0
25%,4.724550e+04,2.014207e+09,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4600.100000,-122.346076,47.580045,NaN,6.000000,2014.0
50%,9.998590e+05,2.014243e+09,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7500.400700,-122.328713,47.614196,NaN,7.000000,2014.0
75%,1.030116e+06,2.014277e+09,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9200.201300,-122.307333,47.664051,NaN,8.000000,2014.0
max,1.125252e+06,2.014142e+11,NaN,98.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26500.100200,0.000000,47.749606,NaN,8.000000,2014.0